.inputs-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 30px;
}

.btn-type {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #bdbdbd;
  background-color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.btn-search {
  background-color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 25px;
  margin-bottom: 20px;
}

.btn-type:nth-last-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-type:hover {
  color: #FC1055;
  cursor: pointer;
}

.btn-search:hover {
  color: #FC1055;
  cursor: pointer;
}

.btn-type-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
}

.search-input {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  color: #bdbdbd;
  background-color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  margin-bottom: 20px;
}

.icon {
  margin-right: 10px;
}

.active {
  color: #FC1055;
}

button > * {
  pointer-events: none;
}

.map-buttons {
  display: flex;
}

.about-us-btn {
  text-decoration: none;
  margin-right: 30px;
}
