* {
  margin: 0px;
  padding: 0px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tryber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trybers-list {
  display: flex;
  flex-wrap: wrap;
}
